#cursos{
    background-color: fuchsia;
}
#web{
    background-color: mediumblue;
}
.box{
    background-color: mistyrose;
}
.html{
    background-color: olivedrab;
}
.css{
    background-color: yellow;
}
.java{
    background-color: blue;
}
.bootstrap{
    background-color: darkgrey;
}