#cursos{
    background-color: fuchsia;
}
#web{
    background-color: mediumblue;
}
.box{
    background-color: mistyrose;
}
.html{
    background-color: olivedrab;
}
.css{
    background-color: yellow;
}
.java{
    background-color: blue;
}
.bootstrap{
    background-color: darkgrey;
}

#cursos,
#web{
    display: block;
    width: 300px;
    height: 100px;
}
.html,
.css{
    display: inline;
    width: 300px;
    height: 100px;
}
.java,
.bootstrap{
    display: inline-block;
    width: 300px;
    height: 100px;
}