/*
#cursos{
    background-color: fuchsia;
}
#web{
    background-color: mediumblue;
}
.box{
    background-color: mistyrose;
}
.html{
    background-color: olivedrab;
}
.css{
    background-color: yellow;
}
.java{
    background-color: blue;
}
.bootstrap{
    background-color: darkgrey;
}

#cursos,
#web{
    display: block;
    width: 300px;
    height: 100px;
}
.html,
.css{
    display: inline;
    width: 300px;
    height: 100px;
}
.java,
.bootstrap{
    display: inline-block;
    width: 300px;
    height: 100px;
} */

body{
    font-size: 32px;
    margin: 0;
}
.frase1, .frase2, .referencias{
    text-align: justify;
    width: 500px;
    background-color: yellow;
}

p{
    margin: 10px;
}

.referencias{
    background-color: pink;
    height: 20px;
}

.frase1{
    border: 3px solid red;
}

.frase2{
    box-sizing: border-box;
    border: 3px solid red;
    padding: 20px;
}

padding: 20px;
margin: 0 auto;
border: 3px solid red;